---
layout: compress
---

{% include head.html %}

<main class="Site-content">

    {% include header.html %}

    {{ content }}

    {% assign post_list = '' | split: ',' %}
    {% for post in site.categories[page.category] %}
    {% for tag in post.tags %}
    {% assign post_list = post_list | push: post %}
    {% endfor %}
    {% endfor %}
    {% for post in post_list %}
    {% unless post == previous %}
    <article>
        <header>
            <h3>
                <i class="til-title-date">{{ post.date | date: "%b %d, %Y" }}, </i>
                <a href="{{ site.baseurl }}{{ post.url }}">{{ post.subtitle }}</a>
            </h3>
        </header>
        <section>
            <p>{{ post.content }}</p>
        </section>
    </article>
    {% endunless %}
    {% assign previous = post %}
    {% endfor %}

</main>

{% include footer.html %}

</body>

</html>